/* global style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header,
.main,
footer {
    max-width: 100%;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto; 
    overflow: hidden;
    color: #fff;
    width: 100%;
}
h2 {
    text-transform: uppercase;
    color: blueviolet;
    font-size: 28px;
}
/* header */
header {
    justify-content: space-between;
    display: flex;
    align-items: center; 
    padding: 25px 115px 20px 115px ;
}
@media (max-width: 768px) {
    header {
        padding-left: 20px;
        padding-right: 20px;
    }
    .homepage  {
    padding: 0 30px;
    flex-direction: column;
    padding-top: 150px;
    }
}
.menu   {
    display: flex;
}    
.nav-menu input {
    opacity: 0;
    position: absolute;
}
@media (max-width: 425px) {
    header {
       text-align: center;
       align-items: center;
    }
    label {
        height: 30px;
        width: 30px;
        position: absolute;
        top: 42px;
        right: 25px;
        z-index: 2;
        display: flex;
        align-items: center;
    }
    label span {
        height: 2px;
        width: 100%;
        background: #333;
        position: relative;
        transition: transform .5s;
    }
    label span::before {
        content: '';
        display: block;
        height: 2px;
        width: 100%;
        background: #333;
        position: absolute;
        top: -10px;
        transition: transform .5s;
    }
    label span::after {
        content: '';
        display: block;
        height: 2px;
        width: 100%;
        background: #333;
        position: absolute;
        top: 10px;
        transition: transform .5s;
    }
    .nav-menu input:checked ~ label span {
        transform: rotate(45deg);
    }
    .nav-menu input:checked ~ label span::before,
    .nav-menu input:checked ~ label span::after {
        top: 0;
        transform: rotate(90deg);
    }
    .menu {
        display: none;
        position: absolute;
        top: 110px;
        right: 0;
        left: 0;
        background: #fff;

    }
    .nav-menu input:checked ~ .menu {
        display: block;
    }
    .menu li {
        margin: 15px 0;
        text-align: center;
    }
}
.menu li {
    text-decoration: none;
    list-style: none;
    margin-left: 40px;
}
/* main */
/* homepage */
.homepage {
    background: url(../img/загогловочная.jpg);
    width: 100%;
    height: 120vh;
    padding-bottom: 50px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center; 
  }
.block {
    width: 402px; 
    background-color: #fff;
    margin-right: 120px;
    border-radius: 20px; 
    color: #000;    
    padding: 10px 0;
    animation-duration: 0.95s;
}
input [type="text"] {
    text-decoration: none;
    outline: none;
    display: block;
    transition: .4s ease-in-out;
}
.block > li {
    display: inline-block;
    position: relative;
}
.block p {
    font-size: 15px;
    text-transform: uppercase;
    padding-top: 10px;
}
.block > li::after {
    content: "";
    position: absolute;
    right: 0;
    width: 1px;
    height: 12px;
    background: #d2d2d2;
    top: 16px;
    box-shadow: 4px -2px 0 #d2d2d2;
    transform: rotate(30deg);
}
.block ul li:last-child::after {
    background: none;
    box-shadow: none;
}
.submenu {
    position: absolute;
    width: 210px;
    background: #fafafa;
    border: 1px solid #ededed;
    z-index: 5;
    visibility: hidden;
    opacity: 0;
    transform: scale(.8);
    transition: .4s ease-in-out;
    text-align: left;
}
.submenu li  {
    margin: 10px 10px;
    border-bottom: 1px solid #efefef;
    font-size: 12px;
    color: #484848;
    padding-top: 10px;
    list-style: none;
}
.block ul li {
    list-style: none;
}
.block ul li:hover .submenu {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}
form {
    padding: 40px;
  } 
.homepage h4 {
    margin-top: 10px;
    margin-bottom: 45px; 
    font-size: 25px;
    text-align: left;
}
form input[type="email"],
form input[type="tel"],
form input[type="text"] {
    height: 70px; 
    width: 100%; 
    padding: 11px 10px;
    border: 1px solid #b6b6b6;
    border-radius: 11px;
    margin-bottom: 25px;
}
form input[type="text"] {
    margin-bottom: 0;
    position: relative;
}
 form input[type="text"]::before {
    content: '';
    position: absolute; 
    right: 0;
    bottom: 0; 
    background: #ff0000; 
    width: 17px;
    display: block;
    border-top: 2px solid #5363d8;
    border-left: 2px solid #5363d8;
    opacity: 1;
}
input[type="text"]::before {
    transform: rotate(135deg);
    margin-left: 15px;
}
/* input[type="text"]:hover,
input[type="text"]:focus {
    background: rgba(75, 68, 68, 0.226);
} */
.btn {
    text-align: right;
}
.btn input { 
    width: 200px;
    border-radius: 11px;
    background: rgb(0, 26, 255);
    padding: 25px 80px;
    color: #fff;
    border: none;
    margin-top: 40px;
}
@media (max-width: 768px) {
    .block {
        margin-right: 0;
        width: 100%;
    }
    form input[type="email"],
    form input[type="tel"],
    form input[type="text"] {
    width: 100%;
    }
    .btn input {
    width: 169px;
    text-align: center;
    margin-top: 32px;
    }
    form {
    padding: 30px;
    }
    .block {
    padding: 0;
    }
}
@media (max-width: 320px) {
    form input[type="email"],
    form input[type="tel"],
    form input[type="text"] {
    width: 200px;
    }
}
.headline {
    animation-duration: 0.95s;
}
 h1 {
    font-size: 45px;
    margin-bottom: 35px;
    color: #fff;
}
.headline p {
    font-size: 40px;
} 
@media (max-width: 768px) {
    .headline {
        margin-top: 40px;
        margin-bottom: 20px;
    }
    .headline p {
        text-align: center;
    }
    h1 {
        text-align: center;
    }
}
/* program */
.program h2 {
    text-transform: uppercase;
    color: blueviolet;
    font-size: 28px;
    margin-top: 170px;
    margin-bottom: 30px;
    text-align: center;
}
.subtitle {
    text-align: center;
    font-size: 20px;
    margin-bottom: 100px;
}
.classes {
    width: 100%;
}
 .box {
    color: #000;
    display: flex;
    flex-wrap: wrap;
    padding-left: 115px;
    padding-right: 115px;
}
@media (max-width: 768px) {
    .box {
    padding-left: 15px;
    padding-right: 15px;
    }
}
.yoga-group {
    width: calc(50% - 25px); 
    display: flex;
    margin-bottom: 30px;
    border-radius: 25px;
    box-shadow: 5px 5px 10px #888;
}
.yoga-group .wow .fadeInLeftBig {
    animation-duration: 0.95s;
}
.yoga-group:nth-child(odd) {
    margin-right: 25px;
}
.yoga-group:nth-child(even) {
    margin-left: 25px;
}
@media (max-width: 425px) {
    .yoga-group {
         width: 100%;
    }
    .yoga-group:nth-child(odd) {
        margin-right: 0;
    }
    .yoga-group:nth-child(even) {
        margin-left: 0;
    } 
}
.group-photo{
    height: 100%;
    width: 40%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
@media (max-width: 425px) {
    .yoga-group {
    display: block;
    }
    .group-photo{
   height: 90%;
      width: 100%;
    }
}   
.group-info {
    width: 60%;
    padding: 66px 40px;
}
.group-info p {
    margin-top: 30px;
    margin-bottom: 17px;
    font-size: 15px;
}
@media (max-width: 425px) {
    .group-info {
        padding: 33px;
        width: 100%;
    }
}
/* examples */
.examples {
    display: flex;
    flex-wrap: wrap; 
    margin-top: 290px;  
}
.examples-photo .slideInLeft,
.examples-photo .slideInRight {
    animation-duration: 0.5s;
    animation-timing-function: initial;
}
.examples-photo {
    height: 349px;  
    width: 25%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation-duration: 1s;
    position: relative;
}
.search {
    display: flex;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity .5s;  
}
.search img  {
    width: auto;
    height: 35px; 
}
.search  li {
    list-style: none;
    width: 50px;
    height: 50px;  
    padding: 5px;
    border-radius: 50%;
    background: #fff;
    transition: background 0.5s;  
}
.search li:hover {
    background: #84e7eb;
}
.search a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.examples-photo::before {
    opacity: 0;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom:  0;
    right: 0;
    left:  0;  
    background: rgba(149, 68, 241, 0.719);
    transition: opacity .5s;
}
 .examples-photo > .search {
    opacity: 0;
    transition: opacity .5s; 
} 
.examples-photo:hover::before,
.examples-photo:hover > .search { 
  opacity: 1;
} 
@media (max-width: 768px) {
    .examples-photo {
        width: 25%;
        height: 200px;
    }
}
@media (max-width: 425px) {
    .examples-photo {
        width: 100%;
    }
}
/* about-us  */
.about-us {
    padding-top: 234px;
    margin-bottom: 224px;
    color: #000;
    padding-left: 115px;
    padding-right: 115px;
    display: flex;
} 
.multiple-items,
.about-us h2,
.about-us p { 
    width: 50%;
} 
.about-us h2{
    margin-bottom: 33px;
}
.multiple-items{
    width: 100%;
} 
@media (max-width: 768px) {
    .about-us  {
    padding-left: 15px;
    padding-right: 15px;
    }
}
@media (max-width: 425px) {
    .about-us {
    flex-direction: column;
    }
    .multiple-items {
        margin-left: 0;
    }
    .multiple-items,
    .about-us h2,
    .about-us p {
    width: 100%;
    align-items: center;
    text-align: center;
    }
    .about-us h2,
    .about-us p {
    text-align: center;
    }
    .about-us p {
    margin-bottom: 40px;
    }
} 
.slick-prov,
.slick-next {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #fff;
    z-index: 3;
    box-shadow: 6px 6px 15px 0 rgba(0,0,0, 0.15);
}
.slick-prov::before,
.slick-next::before  {
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    border-top: 2px solid #5363d8;
    border-left: 2px solid #5363d8;
}
.slick-prov::before {
    transform: rotate(-45deg); 
    margin-left: 20px; 
}
.slick-next::before {
    transform: rotate(135deg);
    margin-left: 15px;
}
.slick-prov:hover,
.slick-prov:focus,
.slick-next:hover,
.slick-next:focus {
    background: #fff;
}
.slick-list {
    box-shadow: 6px 6px 15px 0 rgba(0,0,0, 0.15);
    border-radius: 10px;
}
.slick-img {
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    padding-top: 300px;
} 
/* service-item */
.service-item {
    padding-top: 168px;
    padding-bottom: 168px;
    background: rgb(125, 107, 243) ;    
    padding-left: 115px;
    padding-right: 115px;
}
@media (max-width: 768px) {
    .service-item  {
    padding-left: 15px;
    padding-right: 15px;
    }
}
.service-item h4 {
    text-transform: uppercase;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 47px;
}
.service-item ul {
    display: flex;
    flex-wrap: wrap;
}
.service-item ul li{ 
    margin-bottom: 85px;
    padding: 0 20px;
    text-align: center;
    list-style: none;
    width: 25%;  
    animation-delay: 0.15s; 
}
.service-item ul li:nth-child(n+5){                
    margin-bottom: 0;
}
@media (max-width: 768px) {
    .service-item ul li {
        width: 50%;
    }
    .service-item ul li:nth-child(5){                
        margin-bottom: 85px;
     }
     .service-item ul li:nth-child(6){                
        margin-bottom: 85px;
     }
}
@media (max-width: 425px) {
    .service-item ul li {
        width: 100%;
    }
    .service-item ul li:nth-child(7){                
        margin-bottom: 85px;
    }
} 
.service-item ul :last-child {
    margin-right: 0;
} 
.service-item li div{
    height: 75px;
    width: 75px;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
/* prices */
.prices {
    background: url(../img/section9.jpg);
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 133px;
    padding-bottom: 147px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #000;   
    padding-left: 115px;
    padding-right: 115px;               
}
@media (max-width: 1024px) {
    .prices {
        padding-right: 20px;
        padding-left: 20px;
    }
}
@media (max-width: 768px) {
    .prices {
        flex-wrap: wrap;
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 15px;
        padding-right: 15px;
    }
}
.holder {
    background: rgb(255, 255, 255);
    border-radius: 20px;
}
.holder:nth-child(-n+2) {
       margin-right: 28px;
}
@media (max-width: 768px) {
    .holder:nth-child(2) {
    margin-right: 0;
    }
    .holder:last-child {
        margin-top: 30px;
    }
}
@media (max-width: 425px) {
    .holder:nth-child(2) {
        margin-top: 30px;
    }
    .holder:nth-child(-n+2) {
        margin-right: 0;
    }
}
.prices-item{
    height: 150px;
    background: slateblue;
    justify-content: center;
    align-items: flex-end;
    display: flex;
    padding-bottom: 35px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.currency {
    margin-right: 26px;
    font-size: 37px;
    color: #fff;
    margin-bottom: 10px;
}
.note {
    font-size: 66px;
    color: #fff;
    line-height: 55px;
}
.period {
    font-size: 25px;
    color: #fff;
    text-align: center;
}
.text {
    padding: 51px 70px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.text ul li {
      list-style: none; 
      margin: 10px 0;
}
@media (max-width: 768px) {
    .holder {
        width: 355px;
    }
}
.holder hr {
    width: 40%;
    height: 1px;
    background: #b6b6b6;
    margin: 0 auto;
}
.holder .wow .fadeInUp {
    animation-delay: 0.85s;
}
.holder input {
    height: 49px;
    width: 170px;
    border-radius: 20px;
    background: blue;
    border: none;
    font-size: 29px;
    color: #fff;
    margin-bottom: 51px;
} 
/* conclusion  */
.conclusion img,
.social-network img {
    width: 29px; 
}
.conclusion {
    display: flex;
    background: #5a6cea;
    padding-left: 115px;
    padding-right: 115px;
}
.about,
.social-network {
    flex-direction: column;
} 
@media (max-width: 768px) {
    .conclusion {
        flex-direction: column;
    } 
}
.conclusion h3 {
    margin-bottom: 84px;
    margin-top: 133px;
    text-transform: uppercase;
}
.about {
    margin-right: 184px;
}
@media (max-width: 1440px) {
    .about {
        padding-right: 20px;
        margin-right: 0;
    }
}  
.contact-us ul li  {
    list-style: none;
    display: flex;
    width: 25%;
} 
@media (max-width: 1024px) { 
    .contact-us ul li  {
        width: 100%;
     }
}  
 @media (max-width: 768px) { 
     .conclusion {
        padding-left: 15px;
        padding-right: 15px;
     }
 }  
.contact-us img {
    margin-right: 15px;
}
.contact-us ul {
    display: flex;
    flex-wrap: wrap;
}
.contact-us ul li:nth-child(-n+2) {
        margin-bottom: 36px;
}
.contact-us ul li:nth-child(odd) {
    margin-right: 145px;
} 
@media (max-width: 1024px) {
    .contact-us ul li:nth-child(-n+3) {
        margin-bottom: 36px;
    }    
    .contact-us ul li:nth-child(1) {
        margin-right: 0;
    }
    .contact-us ul li:nth-child(3) {
        margin-right: 0;
    } 
}
.social-network {
    background: #5a6cea;
    padding: 66px 115px 167px  115px;
}
@media (max-width: 1024px) {
    .social-network {
        padding-top: 0; 
    }
}
@media (max-width: 768px) {
    .social-network {
        padding-top: 45px; 
        padding-right: 15px;
        padding-left: 15px;
    }
}
.social-network img {
    margin-right: 17px;
}
/* footer */
footer {
    font-size: 20px;
    text-align: center;
    color: #5364d8;
    background: #5a6cea;
    padding: 20px 0;
} 