
    form input[type="email"],
    form input[type="tel"],
    form input[type="text"] {
        padding: 11px 10px;
        border: 1px solid #b6b6b6;
        border-radius: 11px;
        margin-bottom: 25px;
        float: initial;
        width: 320px;
    
    }
    form input[type="text"] {
        margin-bottom: 0;
    }
    .btn {
        text-align: right;
    }
    .btn input { 
        border-radius: 11px;
        background: rgb(0, 26, 255);
        padding: 25px 80px;
        color: #fff;
        border: none;
    }
    .block {
        background-color: rgb(224, 47, 47);
        margin-top: 140px;
        margin-bottom: 144px;
        margin-right: 120px;
        border-radius: 20px; 
        color: #000;
        display: flex;
    } 
    BODY {
        padding: 0; /* Отступы для браузера Opera */ 
        margin: 0; /* Обнуляем значения отступов на веб-странице */ 
       }
       form {
        position: absolute; /* Абсолютное позиционирование */
        width: 402px; 
        float: left;
        left: 0; /* Положение от левого края окна */ 
        background: rgb(196, 41, 41);
        padding: 5px; /* Поля вокруг текста */ padding: 40px;
       } 
    .homepage h4 {
        margin-top: 10px;
        margin-bottom: 45px; 
        font-size: 25px;
    }
    .homepage {
        display: flex;
        width: 50%;
    } 
        
    }
    form input[type="email"],
    form input[type="tel"],
    form input[type="text"] {
        float: right;
        width: 320px; 
        padding: 11px 10px;
        border: 1px solid #b6b6b6;
        border-radius: 11px;
        margin-bottom: 25px;
    
    }
    form input[type="text"] {
        margin-bottom: 0;
    }
    .btn {
        text-align: right;
    }
    .btn input { 
        width: 200px;
        border-radius: 11px;
        background: rgb(0, 26, 255);
        padding: 25px 80px;
        color: #fff;
        border: none;
        margin-top: 40px;
    }
       
